[Unit]
Description=RYSEN Monitor V3
# To make the network-online.target available
# systemctl enable systemd-networkd-wait-online.service

After=network-online.target syslog.target
Wants=network-online.target

[Service]
StandardOutput=null
WorkingDirectory=/opt/RYMonv3
RestartSec=3
ExecStart=python3 /opt/RYMonv3/monitor.py
Restart=on-abort

[Install]
WantedBy=multi-user.target
